@CHARSET "UTF-8";

body{
	background-image:url("images/bkg.jpg");
	margin: 0;
	padding: 0;

}

a:link {
    font-size: 30pt;
    color: #0000cc;
    font-family: 宋体;
    text-align: left;
    text-decoration: underline;
    TEXT-DECORATION:none;
}
a:visited {
    font-size: 25pt;
    color: #0000cc;
    font-family: 宋体;
    text-align: left;
    text-decoration: underline;
    TEXT-DECORATION:none;
}
a:hover {
    color: #993300;
    text-decoration: underline;
    TEXT-DECORATION:none;
}
a:active {
    color: #ff0033;
    text-decoration: none;
}
